$link-textcolor: #000;
$sidebar-color: #ececf6;
$dashboard-color: #f5f5fd;
$profile-color: #ececf6;
$blank-color: #f5f5fd;
$searchbar-color: #ffffff;
$card-color: #ffffff;
$card-subtitle-color: #bcbcbc;
$header-subtitle-color: #858585;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@mixin flex-align($vertical, $horizontal, $direction) {
    display: flex;
    flex-direction: $direction;
    align-items: $vertical;
    justify-content: $horizontal;
}

.grid-container {
    display: grid;

    grid-template-areas: 
    "sidebar dashboard profile blank";

    grid-template-columns: 100px auto 300px 50px;
}

.sidebar {
    grid-area: sidebar;
    height: 100vh;
    background: $sidebar-color;
    position: fixed;

    @include flex-align(center, center, column);

    .selected-link {
        @include flex-align(center, center, none);
        text-decoration: none;
        width: 100px;
        padding: 10px 0px;
        color: $link-textcolor;
        transition: .2s;
        
        border-right: 2px solid #000;
        &:hover {
            background-color: #fff;
        }
    }

}

.dashboard {
    grid-area: dashboard;
    height: auto;
    background: $dashboard-color;
    padding: 60px;
    @include flex-align(none, none, column);
    gap: 40px;


    .header {
        @include flex-align(center, none, row);

        p {
            text-transform: uppercase;
            font-weight: 200;
            letter-spacing: 2px;
            width: 200px;
            color: $header-subtitle-color;
        }

        div {
            width: 100%;

            h3 {
                font-size: 26px;
                font-weight: bold;
            }

            h5 {
                font-size: 16px;
                font-weight: 200;
                color: $header-subtitle-color;
            }
        }
        
        .searchbar {
            width: 100%;
            @include flex-align(center, flex-end, none);

            img {
                background: $searchbar-color;
                border-radius: 25px 0px 0px 25px;
                padding: 12px;
                transform: translateX(10px);
            }
            
            input {
                border: none;
                width: 100%;
                padding: 12px;
                background: $searchbar-color;
                border-radius: 0px 25px 25px 0px;
                outline: none;
                font-size: 16px;

                &::placeholder {
                    font-weight: 300;
                }
            }
        }
    }

    .cards {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        
        .card {
            width: 180px;
            height: 180px;
            padding: 15px 25px;
            background: $card-color;
            border-radius: 25px;
            box-shadow: 3px 5px 25px #00000025;
            @include flex-align(none, space-between, column);
            gap: 15px;
            cursor: pointer;
            transition: .2s;
    
            p {
                width: 100px;
                color: $card-subtitle-color;
            }
    
            h5 {
                font-size: 20px;
            }
    
            &:hover {
                transform: translateY(-20px);
            }
        }
    }

    .graphic-container {
        @include flex-align(none, none, column);
        gap: 40px;
        .graphic {
            display: grid;
            grid-template-areas: 
            "payments rows rows";
            grid-template-columns: 80px auto auto;

            .payments-col {
                @include flex-align(center, none, column);
                grid-area: payments;
                font-weight: 200;
                gap: 25px;
            }

            .graphic-row {
                @include flex-align(center, none, row);
                grid-area: rows;
                gap: 35px;

                td {
                    height: 100%;
                    width: 40px;
                    @include flex-align(none, center, column);
                    text-align: center;

                    .white-column {
                        height: 50%;
                        background: #e5e5f1;
                    }

                    .black-column {
                        height: 50%;
                        background: #000;
                    }

                    p {
                        transform: translateY(10px);
                        font-weight: 200;
                    }
                }
            }
        }
    }

    .history {
        @include flex-align(none, center, column);
        gap: 15px;

        .transition {
            width: 100%;
            @include flex-align(center, none, row);
            transition: .2s;
            cursor: pointer;
            padding: 10px;

            img {
                width: 40px;
                border-radius: 50%;
            }

            .content {
                width: 100%;
                @include flex-align(center, flex-end, none);
                gap: 60px;

                p {
                    font-weight: 200;
                    // color: #585858;
                }
            }

            &:hover {
                transform: scale(2px);
                border-radius: 15px;
                background: #fff;
            }
        }
    }
}

.profile {
    grid-area: profile;
    width: 100%;
    background: $profile-color;
}

.blank {
    grid-area: blank;
    width: 100%;
    background: $blank-color;
}