* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "sidebar dashboard profile blank";
  grid-template-columns: 100px auto 300px 50px;
}
@media screen and (max-width: 1090px) {
  .grid-container {
    grid-template-areas: "dashboard profile";
    grid-template-columns: auto 300px;
  }
  .grid-container .sidebar {
    display: none;
  }
}
@media screen and (max-width: 940px) {
  .grid-container {
    grid-template-areas: "profile" "dashboard";
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 650px) {
  .grid-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: none;
    justify-content: none;
  }
  .grid-container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
    gap: 15px;
  }
  .grid-container .dashboard .history .transition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .grid-container .dashboard .history .transition .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .grid-container .dashboard .graphic-container {
    display: none;
  }
  .grid-container .profile .activity-container {
    width: auto;
  }
  .grid-container .profile .activity-container .activity-content {
    width: auto;
  }
  .grid-container .profile .activity-container .activity-value {
    width: auto;
  }
  .grid-container .profile .profile-header {
    display: flex;
    flex-direction: none;
    align-items: center;
    justify-content: flex-start;
  }
  .grid-container .header .searchbar {
    display: flex;
    flex-direction: none;
    align-items: center;
    justify-content: flex-start;
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  .grid-container .dashboard .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  background: #ececf6;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar .selected-link {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100px;
  padding: 10px 0px;
  color: #000;
  transition: 0.2s;
  border-right: 2px solid #000;
}
.sidebar .selected-link:hover {
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
}
.header p {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  width: 200px;
  color: #858585;
}
.header div {
  width: 100%;
}
.header div h3 {
  font-size: 26px;
  font-weight: bold;
}
.header div h5 {
  font-size: 16px;
  font-weight: 200;
  color: #858585;
}
.header .searchbar {
  width: 100%;
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: flex-end;
}
.header .searchbar img {
  background: #ffffff;
  border-radius: 25px 0px 0px 25px;
  padding: 12px;
  transform: translateX(10px);
}
.header .searchbar input {
  border: none;
  width: 100%;
  padding: 12px;
  background: #ffffff;
  border-radius: 0px 25px 25px 0px;
  outline: none;
  font-size: 16px;
}
.header .searchbar input::placeholder {
  font-weight: 300;
}

.dashboard {
  grid-area: dashboard;
  height: auto;
  background: #f5f5fd;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 40px;
}
.dashboard .cards {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}
.dashboard .cards .card {
  width: 180px;
  height: 180px;
  padding: 15px 25px;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 3px 5px 25px #00000025;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: space-between;
  gap: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.dashboard .cards .card p {
  width: 100px;
  color: #bcbcbc;
}
.dashboard .cards .card h5 {
  font-size: 20px;
}
.dashboard .cards .card:hover {
  transform: translateY(-20px);
}
.dashboard .graphic-container {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 40px;
}
.dashboard .graphic-container .graphic {
  display: grid;
  grid-template-areas: "payments rows";
  grid-template-columns: 80px auto;
}
.dashboard .graphic-container .graphic .payments-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  grid-area: payments;
  font-weight: 200;
  gap: 25px;
}
.dashboard .graphic-container .graphic .graphic-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  grid-area: rows;
  gap: 35px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.dashboard .graphic-container .graphic .graphic-row td {
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: center;
  text-align: center;
}
.dashboard .graphic-container .graphic .graphic-row td .white-column {
  height: 50%;
  background: #e5e5f1;
}
.dashboard .graphic-container .graphic .graphic-row td .black-column {
  height: 50%;
  background: #000;
}
.dashboard .graphic-container .graphic .graphic-row td p {
  transform: translateY(10px);
  font-weight: 200;
}
.dashboard .history {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: center;
  gap: 15px;
}
.dashboard .history .transition {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  transition: 0.2s;
  cursor: pointer;
  padding: 10px;
}
.dashboard .history .transition img {
  width: 40px;
  border-radius: 50%;
}
.dashboard .history .transition .content {
  width: 100%;
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
}
.dashboard .history .transition .content p {
  font-weight: 200;
}
.dashboard .history .transition:hover {
  transform: scale(2px);
  border-radius: 15px;
  background: #fff;
}

.profile {
  grid-area: profile;
  width: 100%;
  background: #ececf6;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 20px;
}
.profile .profile-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
.profile .profile-header .profile-pic {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  border: 3px solid #fff;
}
.profile .profile-header img {
  cursor: pointer;
  width: 20px;
}
.profile .header div h3 {
  width: 100%;
  font-size: 18px;
}
.profile .header div h5 {
  font-size: 14px;
}
.profile .recent-activities {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 20px;
}
.profile .upcoming-payments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 20px;
}
.profile .activity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  width: 100%;
  gap: 10px;
}
.profile .activity-container .img-container {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #fff;
  border-radius: 15px;
}
.profile .activity-container .activity-content {
  width: 100%;
}
.profile .activity-container .activity-content h5 {
  width: auto;
  font-size: 16px;
}
.profile .activity-container .activity-content p {
  font-size: 12px;
  color: #bcbcbc;
}
.profile .activity-container .activity-value {
  width: 100%;
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

.blank {
  grid-area: blank;
  width: 100%;
  background: #f5f5fd;
}

/*# sourceMappingURL=home.css.map */
